<?xml version="1.0" ?>

<plugin>

    <extension id="org.coode.MatrixTab"
            point="org.protege.editor.core.application.WorkspaceTab">
        <label value="Matrix"/>
        <class value="org.protege.editor.core.ui.workspace.WorkspaceViewsTab"/>
        <editorKitId value="OWLEditorKit"/>
        <index value="F"/>
        <defaultViewConfigFileName value="org.coode.MatrixTab.xml"/>
    </extension>

    <extension id="org.coode.ExistentialMatrixView"
            point="org.protege.editor.core.application.ViewComponent">
        <label value="Class Existential Matrix"/>
        <class value="org.coode.matrix.ui.view.ClassExistentialTreeMatrixView"/>
        <headerColor value="@org.protege.classcolor"/>
        <category value="@org.protege.classcategory"/>
    </extension>

    <extension id="org.coode.AnnotationMatrixView"
            point="org.protege.editor.core.application.ViewComponent">
        <label value="Class Annotations Matrix"/>
        <class value="org.coode.matrix.ui.view.ClassAnnotationTreeMatrixView"/>
        <headerColor value="@org.protege.classcolor"/>
        <category value="@org.protege.classcategory"/>
    </extension>

    <extension id="org.coode.IndividualMatrixView"
            point="org.protege.editor.core.application.ViewComponent">
        <label value="Individual Relationships Matrix"/>
        <class value="org.coode.matrix.ui.view.IndividualRelationshipsTreeMatrixView"/>
        <headerColor value="@org.protege.individualcolor"/>
        <category value="@org.protege.individualcategory"/>
    </extension>

    <extension id="org.coode.ClassMembersMatrixView"
            point="org.protege.editor.core.application.ViewComponent">
        <label value="Class Members Matrix"/>
        <class value="org.coode.matrix.ui.view.ClassMembershipTreeMatrixView"/>
        <headerColor value="@org.protege.individualcolor"/>
        <category value="@org.protege.individualcategory"/>
    </extension>

    <extension id="org.coode.ObjPropsPalette"
            point="org.protege.editor.core.application.ViewComponent">
        <label value="Object Props"/>
        <class value="org.protege.editor.owl.ui.propertyhierarchy.OWLObjectPropertyTreeView"/>
        <headerColor value="@org.protege.objectpropertycolor"/>
    </extension>

    <extension id="org.coode.ClassPalette"
            point="org.protege.editor.core.application.ViewComponent">
        <label value="Classes Palette"/>
        <class value="org.coode.matrix.ui.palette.ClassPalette"/>
        <headerColor value="@org.protege.classcolor"/>
    </extension>

    <extension id="org.coode.IndividualsPalette"
            point="org.protege.editor.core.application.ViewComponent">
        <label value="Individuals Palette"/>
        <class value="org.coode.matrix.ui.palette.IndividualsPalette"/>
        <headerColor value="@org.protege.individualcolor"/>
    </extension>

    <extension id="org.coode.AnnotationURIPalette"
            point="org.protege.editor.core.application.ViewComponent">
        <label value="Annotation URI Palette"/>
        <class value="org.coode.matrix.ui.palette.AnnotationURIPalette"/>
    </extension>

    <!-- Properties Matrix -->

    <extension id="org.coode.PropertyMatrixTab"
            point="org.protege.editor.core.application.WorkspaceTab">
        <label value="Property Matrix"/>
        <class value="org.protege.editor.core.ui.workspace.WorkspaceViewsTab"/>
        <editorKitId value="OWLEditorKit"/>
        <index value="G"/>
        <defaultViewConfigFileName value="org.coode.PropertyMatrixTab.xml"/>
    </extension>

    <extension id="org.coode.PropertyMatrixView"
            point="org.protege.editor.core.application.ViewComponent">
        <label value="Object Property Features Matrix"/>
        <class value="org.coode.matrix.ui.view.PropertyTreeMatrixView"/>
        <headerColor value="@org.protege.objectpropertycolor"/>
        <category value="@org.protege.objectpropertycategory"/>
    </extension>

</plugin>

