<?xml version="1.0" ?>

<plugin>

    <extension id="org.coode.MatrixTab"
            point="org.protege.editor.core.application.WorkspaceTab">
        <label value="Matrix"/>
        <class value="org.protege.editor.owl.ui.OWLWorkspaceViewsTab"/>
        <editorKitId value="OWLEditorKit"/>
        <index value="F"/>
        <defaultViewConfigFileName value="org.coode.MatrixTab.xml"/>
    </extension>

    <extension id="org.coode.ExistentialMatrixView"
            point="org.protege.editor.core.application.ViewComponent">
        <label value="Class Existential Matrix"/>
        <class value="org.coode.matrix.ui.view.ClassExistentialTreeMatrixView"/>
        <headerColor value="@org.protege.classcolor"/>
        <category value="@org.protege.classcategory"/>
        <navigates value="@org.protege.classcategory"/>
    </extension>

    <extension id="org.coode.InferredExistentialMatrixView"
            point="org.protege.editor.core.application.ViewComponent">
        <label value="Class Existential Matrix (Inferred Hierarchy)"/>
        <class value="org.coode.matrix.ui.view.InferredClassExistentialTreeMatrixView"/>
        <headerColor value="@org.protege.classcolor"/>
        <category value="@org.protege.classcategory"/>
        <navigates value="@org.protege.classcategory"/>
    </extension>

    <extension id="org.coode.AnnotationMatrixView"
            point="org.protege.editor.core.application.ViewComponent">
        <label value="Class Annotations Matrix"/>
        <class value="org.coode.matrix.ui.view.ClassAnnotationTreeMatrixView"/>
        <headerColor value="@org.protege.classcolor"/>
        <category value="@org.protege.classcategory"/>
        <navigates value="@org.protege.classcategory"/>
    </extension>

    <extension id="org.coode.IndividualMatrixView"
            point="org.protege.editor.core.application.ViewComponent">
        <label value="Individual Relationships Matrix"/>
        <class value="org.coode.matrix.ui.view.IndividualRelationshipsTreeMatrixView"/>
        <headerColor value="@org.protege.individualcolor"/>
        <category value="@org.protege.individualcategory"/>
        <navigates value="@org.protege.individualcategory"/>
        <navigates value="@org.protege.classcategory"/>
    </extension>

    <extension id="org.coode.ClassMembersMatrixView"
            point="org.protege.editor.core.application.ViewComponent">
        <label value="Class Members Matrix"/>
        <class value="org.coode.matrix.ui.view.ClassMembershipTreeMatrixView"/>
        <headerColor value="@org.protege.individualcolor"/>
        <category value="@org.protege.individualcategory"/>
        <navigates value="@org.protege.individualcategory"/>
    </extension>

    <extension id="ObjPropsPalette"
            point="org.protege.editor.core.application.ViewComponent">
        <label value="Object Properties Palette"/>
        <class value="org.coode.matrix.ui.palette.ObjectPropertyPalette"/>
        <headerColor value="@org.protege.objectpropertycolor"/>
    </extension>

    <extension id="DataPropsPalette"
            point="org.protege.editor.core.application.ViewComponent">
        <label value="Data Properties Palette"/>
        <class value="org.coode.matrix.ui.palette.DataPropertyPalette"/>
        <headerColor value="@org.protege.datapropertycolor"/>
    </extension>

    <extension id="org.coode.ClassPalette"
            point="org.protege.editor.core.application.ViewComponent">
        <label value="Classes Palette"/>
        <class value="org.coode.matrix.ui.palette.ClassPalette"/>
        <headerColor value="@org.protege.classcolor"/>
    </extension>

    <extension id="IndividualsPalette"
            point="org.protege.editor.core.application.ViewComponent">
        <label value="Individuals Palette"/>
        <class value="org.coode.matrix.ui.palette.IndividualsPalette"/>
        <headerColor value="@org.protege.individualcolor"/>
    </extension>

    <extension id="AnnotationURIPalette"
            point="org.protege.editor.core.application.ViewComponent">
        <label value="Annotation URI Palette"/>
        <class value="org.coode.matrix.ui.palette.AnnotationURIPalette"/>
    </extension>

    <!-- Properties Matrix -->

    <extension id="org.coode.PropertyMatrixTab"
            point="org.protege.editor.core.application.WorkspaceTab">
        <label value="Property Matrix"/>
        <class value="org.protege.editor.owl.ui.OWLWorkspaceViewsTab"/>
        <editorKitId value="OWLEditorKit"/>
        <index value="G"/>
        <defaultViewConfigFileName value="org.coode.PropertyMatrixTab.xml"/>
    </extension>

    <extension id="org.coode.PropertyMatrixView"
            point="org.protege.editor.core.application.ViewComponent">
        <label value="Object Property Features Matrix"/>
        <class value="org.coode.matrix.ui.view.PropertyTreeMatrixView"/>
        <headerColor value="@org.protege.objectpropertycolor"/>
        <category value="@org.protege.objectpropertycategory"/>
        <navigates value="@org.protege.objectpropertycategory"/>
    </extension>

</plugin>

